.one{
    background-color:red;
    
}
span{
    font-size: 50px;
}
.two{
    background-color: aqua;
}
.three{
    background-color: blue;

}
.four{
    background-color: pink;
}
.five{
    background-color: plum;
}
.six{
    background-color: lightsalmon;
}